@media only screen and (max-width: 700px){
    #quote{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    .sideBar{
        display: none;
    }
}


.sideBar{
    height: 100vh;
    width: calc(22% - 30px);
    background-color: white;
}

.verticalline{
    width: 1px;
    height: 100vh;
    background-color: black;
}


/* 91C8E4 */

/* 1D5D9B */

/* #0080bf */

